---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
---

<!DOCTYPE html>
<html>
  <head>
    <title>Redirecting...</title>
    <link rel="canonical" href="{{site.url}}files/cv.pdf" />
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url={{site.url}}files/cv.pdf" />
  </head>
  <body>
    <p>Redirecting...</p>
  </body>
</html>

<!--

IN MARKDOWN:
{% include base_path %}

Education
======
* Master of Science in Aerospace Engineering, RWTH Aachen University, 2027 (expected)
* Master of Science in Engineering (Diplôme d'Ingénieur), École Centrale de Lille, 2027 (expected)
* Bachelor of Science in Mechanical Engineering, RWTH Aachen University, 2025

Work experience
======
* March - September 2025: Intern
  * Blackswan Space
  * Duties included: Research into Vision-Based Navigation
  * Supervisor: Adam Sherwood

* July - December 2024: Intern
  * European Space Agency
  * Duties included: Research into Vision-Based Navigation
  * Supervisor: Jonathan Grzymisch

* July - September 2020: Intern
  * Jena Optronik
  * Duties included: ESD safety for space-grade hardware
  * Supervisor: Stefan Humbla
  
Skills
======
* Mathematical optimization
* Structural Design
* Programming:
  * Python
  * MATLAB

Languages 
=====
* English (C1)
* French (C1)
* German (Native)
* Spanish (A2)
* Lithuanian (A1)

Publications
======
  <ul>{% for post in site.publications reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
  
Talks
======
  <ul>{% for post in site.talks reversed %}
    {% include archive-single-talk-cv.html  %}
  {% endfor %}</ul>
  
Teaching
======
  <ul>{% for post in site.teaching reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
  
Service and leadership
======
* Currently signed in to 43 different slack teams
-->

